<h2>Sign up</h2>

<!--
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
-->

<%= form_with model: resource, scope: resource_name, url: registration_path(resource_name), method: :post do |form| %>
  <% if resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formGroup">
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div class="formGroup">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="formGroup">
    <%= form.label :family_name, style: "display: block" %>
    <%= form.text_field :family_name %>
  </div>

  <div class="formGroup">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class="formGroup">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="formGroup">
    <%= form.submit class: "selectBtn" %>
  </div>
<% end %>
<p>or</p>
<%= link_to "Log in", new_session_path(resource_name), class: "selectBtn" %>

<!--<%= render "devise/shared/links" %>-->
