<div id="<%= dom_id event %>" class="event flexVertCenter">

  <h2 class="eventName"><%= event.name %></h2>
  <h4><%= event.date.strftime("%m/%d/%Y at %I:%M%p") %></h4>
  <h6>By <%= event.host.first_name + " " + event.host.family_name %></h6>
  <span><%= pluralize(event.attendees.count, "Attendee") %></span>


</div>
